<?xml version="1.0" encoding="utf-8" ?>
<!-- autoReload——监视配置文件，并在配置文件发生更改时自动重新载入配置文件而不需要重启应用程序 -->
<!-- internalLogLevel—用于指定NLog内部日志记录的详细程度 -->
<!-- internalLogFile—指定NLog内部日志记录的输出位置  -->
<!-- extensions ——有些类似${shortdate}、layout表达式需要引入对应的包才能生效  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"   
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
      <targets>
        <target
        name="file"
        type="File"
        fileName="${currentdir}/Logs/${shortdate}.log">
        <layout type="JsonLayout">
            <attribute name="Time" layout="${longdate}" />
            <attribute name="Level" layout="${level}" />
            <attribute name="Message" layout="${message}" />
          </layout>
        </target>
      </targets>

      <rules>
        <logger name="*" minlevel="error" writeTo="file"></logger>
      </rules>
</nlog>

<targets>
    <target
        name="file"
        type="File"
        fileName="${currentdir}/Logs/${shortdate}.log"/>
    </targets>